<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.edutech.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.edutech.app.HelperActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="net.edutech.app.wonactivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.tryagainpage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.mockquestions"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.mocksplash"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.mock2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.mocksubjects"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.aboutkcet_view"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="net.edutech.app.YoutubePlayer"
            android:exported="false" />
        <activity
            android:name="net.edutech.app.admissionprocess"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.aboutkcet2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.introActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.aboutus"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.DrawerBaseActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.webview1"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="net.edutech.app.requiredDocuments"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.puc"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.videotopics"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.videotopics2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.subjects1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.predictor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.Instructions"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="net.edutech.app.details"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.webview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.subjects"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.prev"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.Rank_Predict"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.collegeList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.edutech.app.MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>